.vscode/
.claude/
CLAUDE.md
docs/
/tools/
build/
sd/*.DDB
sd/*.ddb
sd/*.SAV
sd/*.sav
sd/*.NX2
sd/*.nx2
sd/*.NXI
sd/*.nxi
sd/*.NXZ
sd/*.nxz
sd/*.N2Z
sd/*.n2z
sd/*.zx0
sd/*.ZX0
sd/*.AKY
sd/*.aky
sd/*.SFB
sd/*.sfb
sd/*.WAV
sd/*.wav
sd/*.XMB
sd/*.xmb
sd/*.AYS
sd/*.ays
sd/PART*/
sd/*.CHR
sd/*.SPR
tests/out/
.superpowers/
