src/font.txt text eol=crlf
src/font.chr binary
authoring-kit/tools/vidtools/**/*.exe filter=lfs diff=lfs merge=lfs -text
authoring-kit/tools/vidtools/**/*.dll filter=lfs diff=lfs merge=lfs -text
authoring-kit/tools/vidtools/**/*.pyd filter=lfs diff=lfs merge=lfs -text
authoring-kit/tools/vidtools/**/*.zip filter=lfs diff=lfs merge=lfs -text
demo/NextDAAD-demo.zip filter=lfs diff=lfs merge=lfs -text